html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: violet;
  color: yellow;
  text-align: center;
  font-size: 2em;
}

.my-fun-class {
  width: 50%;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
